{
    "semi": false,
    "overrides": [
        {
            "files": "*.index.js",
            "options": {
                "semi": true
            }
        },
        {
            "files": ["*.html", "*.css", "*.js", ".prettierrc"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
